build/
builddir/
.flatpak-builder/
*.tmp

# TODO: uncomment this to track the upstream Flathub repository
# io.github.jeffshee.Hidamari.json

# Byte-compiled
__pycache__/

# Project exclude paths
/venv/
.flatpak/
*.flatpak

# Visual Studio Code
.vscode